/* Message section */
.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* furniture message */
.furniture {
  margin-top: 50px;
  background-image: url("../images/furn.jpg");
  background-size: cover;
  width: 350px;
  height: 178px;
  top: 20px;
}

/* Container for furniture text */

.textf {
  position: relative;
  width: 8rem;
  height: 6rem;
  left: 1.5rem;
  top: 30px;
}

/* Container for furniture h1 */
.newf {
  width: 8.5rem;
  height: 3.2rem;
  font-family: poppins;
  font-style: normal;
  font-size: 12px;
  text-align: center;
}

/* Container for furniture shop button */
.shopfurn {
  position: relative;
  width: 3rem;
  height: 2rem;
  top: 20px;
  margin-left: 8px;
  font-family: dosis;
  font-style: normal;
  font-weight: bold;
  color: black;
}

.shopfurn:hover {
  color: rgb(89, 53, 8);
}

/* Container for line beside shop button */
.shopi {
  position: absolute;
  left: 80px;
  bottom: 1px;
  color: black;
}

/* Basket image */
.basket {
  margin-top: 20px;
  background-image: url("..//images/bask.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 350px;
  height: 178px;
}
/* Container for basket text */

.textb {
  position: relative;
  width: 8rem;
  height: 6rem;
  left: 1.5rem;
  top: 30px;
}

/* Container for basket h1 */
.newb {
  width: 8.5rem;
  height: 3.2rem;
  font-family: poppins;
  font-style: normal;
  font-size: 12px;
  text-align: center;
}

/* Container for basket shop button */
.shopbas {
  position: relative;
  width: 3rem;
  height: 2rem;
  top: 20px;
  left: 15px;
  font-family: dosis;
  font-style: normal;
  font-weight: bold;
  color: black;
}

.shopbas:hover {
  color: rgb(89, 53, 8);
}

/* Container for  line beside shop button */
.shopib {
  position: relative;
  left: 111px;
  bottom: 1px;
  color: black;
}

/* Tablet styling */
@media screen and (min-width: 700px) {
  /* Message section */
  .message {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
  }

  .furniture {
    width: 48%;
    height: 178px;
  }

  .basket {
    width: 48%;
    height: 178px;
    margin-top: 50px;
  }
}

/* Desktop styling */

@media screen and (min-width: 1000px) {
  /* Message Section */

  .furniture {
    width: 48%;
    height: 19rem;
  }
  .basket {
    width: 48%;
    height: 19rem;
  }
  .textf {
    top: 5rem;
  }

  .newf {
    width: 20rem;
    text-align: left;
  }
  .textb {
    top: 5.5rem;
  }

  .newb {
    width: 20rem;
    text-align: left;
  }

  .shopib {
    top: 3.7rem;
  }
}
